@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================================
   Scrollbar global dark (POS theme)
================================ */

* {
  scrollbar-width: thin;
  scrollbar-color: #334155 transparent; /* Firefox */
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #475569;
}